
/* Custom styles for Confluence (included for all themes by default) */

#breadcrumbs, #children-section, .plugin_spacetree h4 {       
  display:none;       
}
.syntaxhighlighter a, .syntaxhighlighter div, .syntaxhighlighter code, .syntaxhighlighter table, .syntaxhighlighter table td, .syntaxhighlighter table tr, .syntaxhighlighter table tbody, .syntaxhighlighter table thead, .syntaxhighlighter table caption, .syntaxhighlighter textarea {font-family: Monaco,courier,monospace!important; }

body {
    font-size: 15px;
}

#splitter-sidebar .plugin_spacetree li a, #splitter-sidebar .plugin_spacetree ul {
    font-size: 10pt;
}

.apic { display: none; }

/* End custom styles for Confluence */


